.account-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 18vw;
  height: 60vh;

  background-color: var(--green-secondary);
  border: 0.1rem solid var(--green-primary);
  border-radius: 0.75rem;
}

.account-form-header {
  font-weight: var(--bold-weight);
}

.account-form-input {
  display: flex;
  flex-direction: column;
  gap: 1vh;

  width: 12vw;
}

.account-form-input input {
  background-color: var(--green-tetriary);
  border-radius: 0.25rem;
  border-style: hidden;
}

.account-form-buttons {
  display: flex;
  flex-direction: column;

  width: 12vw;
}

.account-form-buttons button {
  background-color: var(--white);
  border: 0.1rem solid var(--green-primary);
  border-radius: 0.75rem;
  cursor: pointer;
}
