.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 20vw;
  height: 30vh;

  background-color: #c8ead3;
  border: 0.1rem solid #b5bfa1;
  border-radius: 0.25rem;
}

.login-box-input {
  display: flex;
  flex-direction: column;
  gap: 1vh;

  width: 15vw;
}

.login-box-input input {
  background-color: #b5bfa1;
  border-radius: 0.25rem;
  border-style: hidden;
}

.login-box-buttons {
  display: flex;
  flex-direction: column;

  width: 15vw;
}

.login-box-buttons button {
  background-color: white;
  border: 0.1rem solid #b5bfa1;
  border-radius: 0.75rem;
}
