.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 10vh;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: var(--green-primary);
  font-weight: var(--subtitle-weight);
}

.header-title {
  font-size: 1.2rem;
  padding-left: 1vw;
}

.header-paths {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  padding-right: 1vw;
}

.pressed-path {
  color: var(--white);
}

.header-logout {
  background-color: var(--red-secondary);
  border: 0.1rem solid var(--red-primary);
  border-radius: 0.75rem;
  cursor: pointer;
  color: var(--red-primary);
  font-weight: var(--title-weight);
  padding: 1vh;
  font-size: 0.8rem;
}

.language-switcher {
  position: relative;
  cursor: pointer;
}

.languages-dropdown {
  position: absolute;
  top: 100%; /* Positioned right below the language-switcher */
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  margin-top: 5px; /* Give some space between the switcher and dropdown */
  list-style: none;
  display: flex;
  flex-direction: column;
}

.languages-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.languages-dropdown li:hover {
  background-color: #f7f7f7;
}
